<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Modelo</th>
        <th scope="col">Marca</th>
        <th scope="col">Funções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let veiculo of veiculos">
        <!-- <th scope="row">1</th> -->
        <td>{{veiculo.id}}</td>
        <td>{{veiculo.nome}}</td>
        <td>{{veiculo.modelo}}</td>
        <td>{{veiculo.marca}}</td>

        <td class="text-right">
            <a (click)="edit(veiculo)">
                <!-- <span *ngIf="veiculo!==editVeiculo"></span> -->
                <!-- <input *ngIf="veiculo===editVeiculo" [(ngModel)]="veiculo.marca" (blur)="update()" (keyup.enter)="update()"> -->
            </a>
            <button class="btn btn-danger" (click)="delete(veiculo)">
                Delete
            </button>
        </td>
      </tr>
    </tbody>
  </table>
