<!-- <form class="form" (submit)="add(veiculoNome.value); veiculoNome.value=''">
    
    <div class="form-group">
        <input #veiculoNome type="text" class="form-control" placeholder="Nome veiculo">
    </div>
 
    <input type="submit" value="SUBMIT" class="btn btn-success btn-lg btn-block">
</form> -->

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Modelo</th>
        <th scope="col">Marca</th>
        <th scope="col">Funções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let veiculo of veiculos">
        <!-- <th scope="row">1</th> -->
        <td>{{veiculo.id}}</td>
        <td>{{veiculo.nome}}</td>
        <td>{{veiculo.modelo}}</td>
        <td>{{veiculo.marca}}</td>

        <td class="text-right">
            <button class="btn btn-danger" (click)="delete(veiculo)">
                Delete
            </button>
        </td>
      </tr>
    </tbody>
  </table>

<!-- <table class="table">
    <tr >
        <td class="text-left">
            <a (click)="edit(veiculo)">
                <span *ngIf="veiculo!==editVeiculo">{{veiculo.nome}}</span>
                <input *ngIf="veiculo===editVeiculo" [(ngModel)]="veiculo.marca" (blur)="update()" (keyup.enter)="update()">
            </a>
        </td>


    </tr>
</table> -->

<div class="card card-body bg-light text-center">
    <span class="small">click on item to edit</span>
</div>